<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.kaifa.mapper.orderMapper">
    <select id="getSalePriceList" resultType="java.util.Map">
        select name,isInUse,priorityLevel from AA_SalePriceSource where isInUse = 1
        order by priorityLevel asc
    </select>

    <select id="getDepartmentSalePrice" parameterType="java.util.Map" resultType="java.lang.String">
        select top 1
        t2.taxPrice as price
        from SA_SaleDelivery t1,SA_SaleDelivery_b t2
        where t1.id = t2.idSaleDeliveryDTO and t2.idInventory = #{idinventory} and t1.idDepartment = #{iddepartment}
        and t1.voucherState = 189
        order by t1.createdtime desc
    </select>

    <select id="getCustmerSalePrice" parameterType="java.util.Map" resultType="java.lang.String">
        select top 1
        t2.taxPrice as price
        from SA_SaleDelivery t1,SA_SaleDelivery_b t2
        where t1.id = t2.idSaleDeliveryDTO and t2.idInventory = #{idinventory} and t1.idcustomer = #{idcustomer}
          and t1.voucherState = 189
        order by t1.createdtime desc
    </select>

    <select id="getCustmerxieyiPrice" parameterType="java.util.Map" resultType="java.lang.String">
        select top 1 agreementPrice as price
        from AA_CustomerInventoryPrice
        where idInventory = #{idinventory} and idcustomer = #{idcustomer}
        order by id desc
    </select>

    <select id="getDepartmentPIFAprice" parameterType="java.util.Map" resultType="java.lang.String">
        select (case
                    when t2.priceGrade = 442 then t1.retailPriceFormula
                    when t2.priceGrade = 2366 then t1.retailPrice
                    when t2.priceGrade = 440 then t1.level1Price
                    when t2.priceGrade = 105 then t1.level2Price
                    when t2.priceGrade = 56 then t1.level3Price
                    when t2.priceGrade = 27 then t1.level4Price
                    when t2.priceGrade = 383 then t1.level5Price
                    when t2.priceGrade = 1328 then t1.level6Price
                    when t2.priceGrade = 1329 then t1.level7Price
                    when t2.priceGrade = 1330 then t1.level8Price
                    when t2.priceGrade = 1331 then t1.level9Price
                    when t2.priceGrade = 1332 then t1.level10Price
            end ) as price
        from AA_DepartmentInventoryPrice t1,AA_partner t2
        where t1.idInventory = #{idinventory} and t1.idDepartment = #{iddepartment} and t2.id = #{idcustomer}
    </select>

    <select id="getInventoryPIFAprice" parameterType="java.util.Map" resultType="java.lang.String">
        select (case
                    when t2.priceGrade = 442 then t1.retailPriceFormula
                    when t2.priceGrade = 2366 then t1.retailPrice
                    when t2.priceGrade = 440 then t1.invSCost1
                    when t2.priceGrade = 105 then t1.invSCost2
                    when t2.priceGrade = 56 then t1.invSCost3
                    when t2.priceGrade = 27 then t1.invSCost4
                    when t2.priceGrade = 383 then t1.invSCost5
                    when t2.priceGrade = 1328 then t1.invSCost6
                    when t2.priceGrade = 1329 then t1.invSCost7
                    when t2.priceGrade = 1330 then t1.invSCost8
                    when t2.priceGrade = 1331 then t1.invSCost9
                    when t2.priceGrade = 1332 then t1.invSCost10
            end ) as price
        from AA_InventoryPrice t1,AA_partner t2
        where t1.idInventory = #{idinventory}  and t2.id = #{idcustomer}
    </select>

    <select id="getCustomerLastprice" parameterType="java.util.Map" resultType="java.lang.String">
        select TOP 1 (t2.price*(1+t1.increasePriceRate)) as price
        from AA_CustomerInventoryPrice t1,
            (select top 1 k2.idinventory,k2.origDiscountPrice as price
            from PU_PurchaseArrival k1,PU_PurchaseArrival_b k2
            where k1.voucherState = 189 and k1.id = k2.idPurchaseArrivalDTO and k2.idinventory = #{idinventory}
            order by k2.id desc)t2
        where t1.idinventory = #{idinventory}  and t1.idcustomer = #{idcustomer}
        and t1.idinventory = t2.idinventory
    </select>

    <select id="getInventoryLastprice" parameterType="java.util.Map" resultType="java.lang.String">
        select TOP 1  (t1.latestPPrice*(1+t1.MarkupRate)) as price
        from AA_InventoryPrice t1
        where t1.idInventory = #{idinventory}
    </select>
</mapper>