<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.kaifa.mapper.orderMapper">
    <select id="getSalePriceList" resultType="java.util.Map">
        select name,isInUse,priorityLevel,ISNULL(discount,0) AS discount
        from AA_SalePriceSource where isInUse = 1 and name != '客户促销价'
        order by priorityLevel asc
    </select>

    <select id="getDepartmentSalePrice" parameterType="java.util.Map" resultType="java.util.Map">
        select TOP 1
               t2.taxPrice as price,t2.idunit,t5.code,t5.name,t5.isMainUnit,t2.idInventory
        from SA_SaleDelivery t1,SA_SaleDelivery_b t2,AA_Inventory t3,AA_department t4,AA_unit t5
        where t1.id = t2.idSaleDeliveryDTO and t2.idInventory = t3.id and t1.idDepartment = t4.id
        and t3.code = #{idinventory} and t4.code = #{iddepartment} and t2.idunit = t5.id
        and t1.voucherState = 189
        order by t1.createdtime desc
    </select>

    <select id="getDepartmentPriceByInventoryAndUnitCode" parameterType="java.util.Map" resultType="java.lang.String">
        select TOP 1
               t1.unittaxprice  as price
        from AA_DepartmentInventoryPriceTrace t1,AA_Inventory t3,AA_department t4,AA_unit t5
        where t1.idinventory = t3.id and t1.idDepartment = t4.id
        and t3.code = #{idinventory} and t4.code = #{iddepartment} and t1.idunit = t5.id and t5.code = #{code}
        order by t1.createdtime desc
    </select>

    <select id="getCustmerSalePrice" parameterType="java.util.Map" resultType="java.util.Map">
        select top 1
        t2.taxPrice as price,t2.idInventory,t5.code
        from SA_SaleDelivery t1,SA_SaleDelivery_b t2,AA_Inventory t3,AA_partner t4,AA_unit t5
        where t1.id = t2.idSaleDeliveryDTO and t2.idInventory = t3.id and t1.idcustomer = t4.id
        and t3.code = #{idinventory} and t4.code = #{idcustomer} and t1.voucherState = 189
        and t2.idunit = t5.id
        order by t1.createdtime desc
    </select>

    <select id="getgetCustmerSalePriceByInventoryAndUnitCode" parameterType="java.util.Map" resultType="java.lang.String">
        select top 1
        t1.unittaxprice as price
        from AA_CustomerInventoryPriceTrace t1,AA_Inventory t3,AA_partner t4,AA_unit t5
        where t1.idInventory = t3.id and t1.idcustomer = t4.id
        and t3.code = #{idinventory} and t4.code = #{idcustomer}  and t1.idunit = t5.id and t5.code = #{code}
        order by t1.createdtime desc
    </select>

    <select id="getCustmerxieyiPrice" parameterType="java.util.Map" resultType="java.util.Map">
        select top 1
        t1.unittaxprice as price,t2.id as idInventory,t4.code
        from AA_CustomerInventoryPriceTrace t1,AA_Inventory t2,AA_partner t3,AA_unit t4,AA_CustomerInventoryPrice t5
        where t1.idInventory = t2.id and t2.code = #{idinventory} and t1.idinventory = t5.idinventory and t1.idcustomer = t5.idcustomer
        and t1.idcustomer = t3.id and t3.code = #{idcustomer} and t1.idunit = t4.id
        order by t1.id desc
    </select>


    <select id="getCustmerxieyiPriceByInventoryAndUnitCode" parameterType="java.util.Map" resultType="java.lang.String">
        select top 1
        t1.unittaxprice as price
        from AA_CustomerInventoryPriceTrace t1,AA_Inventory t2,AA_partner t3,AA_unit t4,AA_CustomerInventoryPrice t5
        where t1.idInventory = t2.id and t2.code = #{idinventory} and t1.idinventory = t5.idinventory and t1.idcustomer = t5.idcustomer
        and t1.idcustomer = t3.id and t3.code = #{idcustomer} and t1.idunit = t4.id and t4.code = #{code}
        order by t1.id desc
    </select>

    <select id="getDepartmentPIFAprice" parameterType="java.util.Map" resultType="java.util.Map">
        select top 1 (case
                    when t2.priceGrade = 442 then t6.retailPriceFormula
                    when t2.priceGrade = 2366 then t6.retailPrice
                    when t2.priceGrade = 440 then t6.level1Price
                    when t2.priceGrade = 105 then t6.level2Price
                    when t2.priceGrade = 56 then t6.level3Price
                    when t2.priceGrade = 27 then t6.level4Price
                    when t2.priceGrade = 383 then t6.level5Price
                    when t2.priceGrade = 1328 then t6.level6Price
                    when t2.priceGrade = 1329 then t6.level7Price
                    when t2.priceGrade = 1330 then t6.level8Price
                    when t2.priceGrade = 1331 then t6.level9Price
                    when t2.priceGrade = 1332 then t6.level10Price
            end ) as price,t3.id as idInventory,t5.code
        from AA_DepartmentInventoryPriceTrace t1,AA_partner t2,AA_Inventory t3,AA_department t4,AA_unit t5,AA_DepartmentInventoryPrice t6
        where t1.idInventory = t3.id and t3.code = #{idinventory}
        and t1.idDepartment = t4.id and t4.code = #{iddepartment} and t2.code = #{idcustomer} and t1.idunit = t5.id
        and t1.iddepartment = t6.iddepartment and t1.idinventory = t6.idinventory
        order by t1.id desc
    </select>


    <select id="getDepartmentPIFApriceByInventoryAndUnitCode" parameterType="java.util.Map" resultType="java.lang.String">
        select top 1 (case
                    when t2.priceGrade = 442 then t6.retailPriceFormula
                    when t2.priceGrade = 2366 then t6.retailPrice
                    when t2.priceGrade = 440 then t6.level1Price
                    when t2.priceGrade = 105 then t6.level2Price
                    when t2.priceGrade = 56 then t6.level3Price
                    when t2.priceGrade = 27 then t6.level4Price
                    when t2.priceGrade = 383 then t6.level5Price
                    when t2.priceGrade = 1328 then t6.level6Price
                    when t2.priceGrade = 1329 then t6.level7Price
                    when t2.priceGrade = 1330 then t6.level8Price
                    when t2.priceGrade = 1331 then t6.level9Price
                    when t2.priceGrade = 1332 then t6.level10Price
            end ) as price
        from AA_DepartmentInventoryPriceTrace t1,AA_partner t2,AA_Inventory t3,AA_department t4,AA_unit t5,AA_DepartmentInventoryPrice t6
        where t1.idInventory = t3.id and t3.code = #{idinventory}
        and t1.idDepartment = t4.id and t4.code = #{iddepartment} and t2.code = #{idcustomer} and t1.idunit = t5.id
        and t1.iddepartment = t6.iddepartment and t1.idinventory = t6.idinventory
        and t5.code = #{code}
        order by t1.id desc
    </select>

    <select id="getInventoryPIFAprice" parameterType="java.util.Map" resultType="java.util.Map">
        select top 1 (case
                    when t2.priceGrade = 442 then t5.retailPriceFormula
                    when t2.priceGrade = 2366 then t5.retailPrice
                    when t2.priceGrade = 440 then t5.invSCost1
                    when t2.priceGrade = 105 then t5.invSCost2
                    when t2.priceGrade = 56 then t5.invSCost3
                    when t2.priceGrade = 27 then t5.invSCost4
                    when t2.priceGrade = 383 then t5.invSCost5
                    when t2.priceGrade = 1328 then t5.invSCost6
                    when t2.priceGrade = 1329 then t5.invSCost7
                    when t2.priceGrade = 1330 then t5.invSCost8
                    when t2.priceGrade = 1331 then t5.invSCost9
                    when t2.priceGrade = 1332 then t5.invSCost10
            end ) as price,t3.id as idInventory,t4.code
        from AA_InventoryPriceTrace t1,AA_partner t2,AA_Inventory t3,AA_unit t4,AA_InventoryPrice t5
        where t1.idInventory = t3.id and t3.code = #{idinventory}  and t2.code = #{idcustomer} and t1.idunit = t4.id
        and t1.idInventory = t5.idInventory and t1.idunit = t5.idunit
        order by t1.id desc
    </select>

    <select id="getInventoryPIFApriceByInventoryAndUnitCode" parameterType="java.util.Map" resultType="java.lang.String">
        select top 1 (case
                    when t2.priceGrade = 442 then t5.retailPriceFormula
                    when t2.priceGrade = 2366 then t5.retailPrice
                    when t2.priceGrade = 440 then t5.invSCost1
                    when t2.priceGrade = 105 then t5.invSCost2
                    when t2.priceGrade = 56 then t5.invSCost3
                    when t2.priceGrade = 27 then t5.invSCost4
                    when t2.priceGrade = 383 then t5.invSCost5
                    when t2.priceGrade = 1328 then t5.invSCost6
                    when t2.priceGrade = 1329 then t5.invSCost7
                    when t2.priceGrade = 1330 then t5.invSCost8
                    when t2.priceGrade = 1331 then t5.invSCost9
                    when t2.priceGrade = 1332 then t5.invSCost10
            end ) as price
        from AA_InventoryPriceTrace t1,AA_partner t2,AA_Inventory t3,AA_unit t4,AA_InventoryPrice t5
        where t1.idInventory = t3.id and t3.code = #{idinventory}  and t2.code = #{idcustomer} and t1.idunit = t4.id
        and t4.code = #{code} and t1.idInventory = t5.idInventory and t1.idunit = t5.idunit
        order by t1.id desc
    </select>

    <select id="getCustomerLastprice" parameterType="java.util.Map" resultType="java.util.Map">
        select TOP 1
        (t2.price*(1+ISNULL(t1.increasePriceRate,0))) as price,t3.id as idInventory,t5.code,
        ISNULL(t1.increasePriceRate,0) AS  increasePriceRate
        from AA_CustomerInventoryPrice t1,
            (select top 1 k2.idinventory,k2.origDiscountPrice as price
            from PU_PurchaseArrival k1,PU_PurchaseArrival_b k2,AA_Inventory k3
            where k1.voucherState = 189 and k1.id = k2.idPurchaseArrivalDTO and k2.idinventory = k3.id and k3.code = #{idinventory}
            order by k2.id desc)t2,AA_Inventory t3,AA_partner t4,AA_unit t5
        where t1.idinventory = t3.id and t3.code = #{idinventory}
        and t1.idcustomer = t4.id and t4.code = #{idcustomer}
        and t1.idinventory = t2.idinventory and t1.idunit = t5.id
        order by t1.id desc
    </select>

    <select id="getCustomerLastpriceByInventoryAndUnitCode" parameterType="java.util.Map" resultType="java.lang.String">
        select TOP 1
        ISNULL(t1.unittaxprice,'0')  as price
        from AA_CustomerInventoryPriceTrace t1,AA_Inventory t3,AA_partner t4,AA_unit t5
        where t1.idinventory = t3.id and t3.code = #{idinventory}
          and t1.idcustomer = t4.id and t4.code = #{idcustomer}
          and t1.idunit = t5.id and t5.code = #{code}
        order by t1.id desc
    </select>

    <select id="getInventoryLastprice" parameterType="java.util.Map" resultType="java.util.Map">
        select TOP 1
        t1.latestPPrice as price,t2.id as idInventory,t3.code
        from AA_InventoryPriceTrace t1,AA_Inventory t2,AA_unit t3
        where t1.idInventory = t2.id and t2.code = #{idinventory} and t1.idunit = t3.id
        and t1.latestPPrice is not null
        order by t1.id desc
    </select>

    <select id="getInventoryLastpriceByInventoryAndUnitCode" parameterType="java.util.Map" resultType="java.lang.String">
        select TOP 1
        t1.latestPPrice as price
        from AA_InventoryPriceTrace t1,AA_Inventory t2,AA_unit t3
        where t1.idInventory = t2.id and t2.code = #{idinventory} and t1.idunit = t3.id
        and t3.code = #{code}
        order by t1.id desc
    </select>

    <!--往来单位编码，往来单位名称，存货编码，存货名称，规格型号，主计量单位，往来单位存货编码，主计量单位ID-->
    <select id="getallpartnerinventory" resultType="java.util.Map">
        select t2.code as partnercode,t2.name as partnername,
               t3.code as inventorycode,t3.name as inventoryname,
               t3.specification,t4.name as unitname,t1.idunit as unintid,
               t1.code as  partnerInvenCode,t1.name as partnerInvenName
        from AA_InventoryMutiCode t1,AA_partner t2,AA_Inventory t3,AA_Unit t4
        where t1.idcustomer = t2.id and t1.idinventory = t3.id and t1.idunit = t4.id
    </select>

    <!--往来单位编码，往来单位名称，存货编码，存货名称，规格型号，主计量单位，往来单位存货编码，主计量单位ID-->
    <select id="getpartnerinventory" resultType="java.util.Map" parameterType="java.lang.String">
        select t2.code as partnercode,t2.name as partnername,
               t3.code as inventorycode,t3.name as inventoryname,
               t3.specification,t4.name as unitname,t1.idunit as unintid,
               t1.code as  partnerInvenCode,t1.name as partnerInvenName
        from AA_InventoryMutiCode t1,AA_partner t2,AA_Inventory t3,AA_Unit t4
        where t1.idcustomer = t2.id and t1.idinventory = t3.id and t1.idunit = t4.id
        and t2.code = #{customer}
    </select>


    <select id="getInventoryUnitMapByCode" resultType="java.util.Map" parameterType="java.lang.String">
        select t1.unittype,t2.id,t2.code,t2.name,
               t3.name as groupname,
               t4.id as did,t4.code as dcode,t4.name as dname,t4.changeRate,t4.isMainUnit
        from AA_Unit t2,AA_inventory t1
        left join AA_UnitGroup t3 on t1.idunitgroup = t3.id
        left join AA_Unit t4 on t4.idunitgroup = t3.id
        where t1.idunit = t2.id and t1.code = #{inventory}
        order by t4.isMainUnit desc
    </select>

    <select id="getRateByInventoryAndUnit" resultType="java.lang.String" parameterType="java.util.Map">
        select TOP 1
               t2.changeRate
        from AA_inventory t1,AA_Unit t2
        where t1.id = #{idInventory} and t1.idunitgroup = t2.idunitgroup and t2.code = #{code}
    </select>
</mapper>